.error {
  border-color: red;
}

.required {
  border-bottom-color: red;
}

.users-suggestions {
  padding-left: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-top: 5px;
  width: 14em;
}

.users-suggestions .selected {
  background-color: aliceblue;
}

.users-suggestions li {
  list-style: none;
}
